@import 'mediawiki.ui/variables';
@import '../minerva.less/minerva.variables.less';

@media screen and ( min-width: @width-breakpoint-tablet ) {
	.empty-page {
		max-width: @contentMaxWidthTablet + 2 * @iconGutterWidth;
		margin-left: auto;
		margin-right: auto;
	}
}
