{{#data-footer}}
{{! `role` is implied in `footer` element, but added to mitigate a VoiceOver bug. }}
<footer class="mw-footer minerva-footer" role="contentinfo">
{{{html-minerva-lastmodified}}}
	<div class="post-content footer-content">
	{{{html-after-content}}}
	<h2>{{>Logo}}</h2>
	<div class="license">{{{html-minerva-license}}}</div>
	{{#data-info}}{{>footerItemList}}{{/data-info}}
	{{#data-places}}{{>footerItemList}}{{/data-places}}
	</div>
</footer>
{{/data-footer}}
