<div class="last-modified-bar">
	<div class="post-content last-modified-bar__content">
		<span class="last-modified-bar__icon {{historyIconClass}}"></span>
		<a class="last-modified-bar__text modified-enhancement" href="{{href}}"
				data-user-name="{{data-user-name}}"
				data-user-gender="{{data-user-gender}}"
				data-timestamp="{{data-timestamp}}">
				<span>{{text}}</span>
		</a>
		<span class="{{arrowIconClass}}"></span>
	</div>
</div>
